{% extends 'base.html' %}

{% block content %}
    <div class='item_form'>
        <h1>Item adding test form</h1>
        <form method='post' action="{{ url_for('additem_test') }}">
            Item name: <input type="text" name="name"><br>
            Item quantity: <input type="number" name="quantity" min="0"><br>
            Stock date: <input type="date" name="stock-date"/><br>
            Expiration date: <input type="date" name="expiry-date"/><br>
            <input type="submit" value="Submit"><br>
        </form>
    </div>
{% endblock %}