{% extends 'interface_base.html' %}
{% block content %}
<!-- Header -->
<header style="background-color: #1E90FF;">
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="slide-images-container">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 2">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 2">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 3">
            </div>
        </div>

        <div class="mySlides fade">
            <div class="slide-images-container">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 4">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 5">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 6">
            </div>
        </div>

        <div class="mySlides fade">
            <div class="slide-images-container">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 7">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 8">
                <img src="static/img/items/default_item.jpg" class="slide-image" alt="Image 9">
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        <br>
        <div style="text-align:center; margin-bottom: 20px;">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
        <br>
    </div>
</header>

<body>
    <!-- Main Content -->
    <div class="main" style="background-color: white;">
        <!-- Menu Section -->
        <nav class="menu">
            <ul>
                <li onclick="openMenu('whatsNew')">What's New</li>
                <li onclick="openMenu('aboutWebsite')">About This Website</li>
                <li onclick="openMenu('aboutUs')">About Us</li>
            </ul>
        </nav>

        <!-- Content Section -->
        <div class="content" style="background-color: lightgray;">
            <div id="whatsNew" class="menu-content">
                <h2>What's New</h2>
                <p>Latest updates and news about our food bank...</p>
            </div>
            <div id="aboutWebsite" class="menu-content" style="display:none;">
                <h2>About This Website</h2>
                <p>Information about the purpose and features of this website...</p>
            </div>
            <div id="aboutUs" class="menu-content" style="display:none;">
                <h2>About Us</h2>
                <p>Details about our organization and our mission...</p>
            </div>
        </div>
    </div>


    <script src="static/js/slideshow.js"></script>
    <script src="static/js/menu.js"></script>
    

    
</body>

{% endblock %}
