{% extends 'interface_base.html' %}
{% block content %}
    <div class="main">
        <div class="inventory-buttons">
            <button class="fa fa-plus"><alt="Add"> Add</button>
            <button class="fa fa-edit"><alt="Update"> Update</button>
            <button class="fa fa-remove"><alt="Delete"> Delete</button>
            <a href="report.html" style="float: center; padding: 14px 16px;" title="Generate report"><i class="fa fa-file"></i></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>DATE ADDED</th>
                    <th>USABLE UNTIL</th>
                    <th>STATUS</th>
                    <th>ITEMS</th>
                    <th>RECIPIENT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><img src="placeholder.png" alt="Icon" class="icon"></td>
                    <td>05/30/2024 15:47</td>
                    <td>---</td>
                    <td>N/A</td>
                    <td><a href="#" class="order-link">ID</a> Description<br> Description</td>
                    <td>Name<br>Address</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><img src="placeholder.png" alt="Icon" class="icon"></td>
                    <td>05/30/2024 15:47</td>
                    <td>---</td>
                    <td>N/A</td>
                    <td><a href="#" class="order-link">ID</a> Description</td>
                    <td>Name<br>Address</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><img src="placeholder.png" alt="Icon" class="icon"></td>
                    <td>05/30/2024 15:47</td>
                    <td>---</td>
                    <td>N/A</td>
                    <td><a href="#" class="order-link">ID</a> Description</td>
                    <td>Name<br>Address</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><img src="placeholder.png" alt="Icon" class="icon"></td>
                    <td>05/30/2024 15:47</td>
                    <td>---</td>
                    <td>N/A</td>
                    <td><a href="#" class="order-link">ID</a> Description</td>
                    <td>Name<br>Address</td>
                </tr>

            
            </tbody>
        </table>
    </div>
{% endblock %}