{% extends 'interface_base.html' %}
{% block content %}
    <div class="main">
        <div class="inventory-buttons">
            <button class="fa fa-plus"><alt="Add"> Add</button>
            <button class="fa fa-edit"><alt="Update"> Update</button>
            <button class="fa fa-remove"><alt="Delete"> Delete</button>
            <a href="{{ url_for('interface_bp.report_pg') }}" style="float: center; padding: 14px 16px;" title="Generate report"><i class="fa fa-file"></i></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>ID</th>
                    <th>ITEM NAME</th>
                    <th>QUANTITY</th>
                    <th>STOCK DATE</th>
                    <th>EXPIRATION DATE</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><img src="static/img/placeholder.png" alt="Icon" class="icon"></td>
                        <td>{{ item['id'] }}</td>
                        <td>{{ item['name'] }}</td>
                        <td>{{ item['quantity'] }}</td>
                        <td>{{ item['stockdate'] }}</td>
                        <td>{{ item['expdate'] }}</td>
                    </tr>
                {% endfor %}           
            </tbody>
        </table>
    </div>
{% endblock %}