<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="StyleSheet1.css">
    <script src="jquery-3.7.1.min.js"></script>
    <script src="navbar.js"></script>
</head>
<body>

    <div id="navbar"></div>
    <script>
      document.getElementById('navbar').innerHTML = generateNavbar();
    </script>

    <!-- Header -->
    <header class="header" style="padding:128px 16px">
        <h1>START PAGE</h1>



    </header>

    <div class="row">


        <div class="main2">
            <h2>More information: </h2>
            <p>......</p>

        </div>

    </div>


    <!-- Footer -->
    <div class="footer">
        <h5>Created by T-Nine</h5>
    </div>

    </footer>



</body>
</html>
