<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="StyleSheet1.css">
    <script src="jquery-3.7.1.min.js"></script>
    <script src="navbar.js"></script>
</head>
<body>
    <div id="navbar"></div>
    <script>
      document.getElementById('navbar').innerHTML = generateNavbar();
    </script>
    




</body>
</html>
