* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: #1abc;
    color: white;
}

    .header h1 {
        font-size: 40px;
    }



.footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
    color: #333;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
}

.main1 {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main2 {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}



.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}


    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: grey;
            color: white;
        }

    .topnav .search-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        margin-left: 8px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

        .topnav .search-container button:hover {
            background: #ccc;
        }

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}



/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
    width: 50%;
    margin-left: 325px;
    margin-right:300px;
  
}

    /* Full-width input fields */

    .container input[type=pname], input[type=ptype], output[id=cost] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    .container input[type=pname], input[type=ptype], output[id=cost] {
        background-color: #ddd;
        outline: none;
    }

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.create {
    background-color: dodgerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .create:hover {
        opacity: 1;
    }

/* Add a blue text color to links */
a {
    color: black;
}



select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #ddd;
}

    select:focus {
        outline: none;
    }



/*Features for Inventory*/
table {
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
.order-link {
    color: black;
    text-decoration: none;
}
.order-link:hover {
    text-decoration: underline;
}
.icon {
    width: 24px;
    height: 24px;
}


.inventory-buttons {
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font: Arial;

}
.inventory-buttons button {
    background-color: #ddd;
    border: 1px solid gray;
    color: black;
    padding: 10px 20px;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
.inventory-buttons button.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
.inventory-buttons button img {
    vertical-align: middle;
    margin-right: 5px;
}




.account-button {
    float: right; 
    padding: 14px 16px;
}

/*
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 5px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-content label {
    display: block;
    margin-top: 10px;
}

.popup-content input[type="text"],
.popup-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.popup-content button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.popup-content button[type="submit"]:hover {
    opacity: 0.8;
}

.popup-content p {
    margin-top: 20px;
}*/
